/* label */
span{
    color: orange;
    letter-spacing: 1px;
}

p{
    line-height: 30px;
    font-size: 16px;
    color: #555;
    font-weight: 600px;
    padding: 20px 20px ;
}

main{
	display: grid;
	align-items: center;
	justify-items: center;
}


.sec2{
    width: 400px;
    margin-top: 80px;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid grey;
}

.sec2-A{
    width: 400px;
	display: grid;
	align-items: center;
	justify-items: center;
	text-align:center;

}

.sec2-A a{
    text-decoration: none;
    color: #333; 
    letter-spacing: 5px;
}

.imgDisplay{
	width: 390px;
	height: 300px;
}

.sec2-A1{
	border-bottom: 2px solid grey;
	width: 300px;
}

.sec2-B{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-weight: 700;
}
